body{
    font-family: sans-serif;
}

#Logo{
    width: 100px;
    height: 100%;
}

.NavBar{
    background-color: black;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    overflow: hidden;
    margin-bottom: 50px;
}

.NavBar ul{
    list-style: none;
    display: flex;
}

.NavBar ul li a{
    margin: 30px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;

    white-space: nowrap;
}

.NavBar ul li a:hover{
    text-decoration: underline solid white;
}

#Search{
    margin-top: 12px;
    margin-bottom: 12px;
}

#SignIn{
    background: linear-gradient(to right, #9501ff, #0199ff);
}

#SignOut{
    background: linear-gradient(to right, #ff0101, #ff7878);
}

#SignIn, #SignOut{
    margin-left: auto;
    border-radius: 10px;
    border: 5px solid black;
    cursor: pointer;
    color: white;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    font-size: large;
}

#SignIn:hover, #SignOut:hover{
    border: 5px solid rgb(51, 51, 51);
}